/* --- [start] holy grail layout --- */
body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
  width: 100%;
}

header {
  grid-area: header;
  background: linear-gradient(45deg, #45C211, #21F0F2);
  padding: 3rem;
  text-align: center;
  color: white;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
  margin-left: 1rem;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 2rem 0;
  background: linear-gradient(45deg, #45C211, #21F0F2);
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(9rem, auto) /* Nav */
      1fr /* Content */
      minmax(9rem, auto) /* Sidebar */
      auto; /* Footer */
  }

  header {
    padding: 1rem;
  }

  nav, main, aside {
    margin: 0;
  }
}
/* --- [end] holy grail layout --- */

/* --- [start] h* --- */
h2 {
  color: #45C211;
}
h3 {
  color: #45C211;
}
/* --- [end] h* --- */

/* --- [start] menu --- */
.menu {
  list-style-type: none;
}

.vertical-menu {
  width: 100%;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 1rem;
  text-decoration: none;
  border-bottom: 2px solid #45C211;
}

.vertical-menu a:hover {
  background-color: #45C211;
  color: white;
  font-weight: bold;
}
/* --- [end] menu --- */

/* --- [start] books --- */
.books-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.books-list__img {
  width: 100%;
}

.books-list__title {
  text-align: center;
  margin-bottom: .5rem;
}
/* --- [end] books --- */

/* --- [start] contact form --- */
.contact-form {
  max-width: 768px;
  height: 900px;
  margin: auto;
  padding: 0;
}
/* --- [end] contact form --- */
